.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    margin-bottom: 40px;
  }

  .page-title {
      color: #fce138;
      display: inline-block;
      font-weight: normal;
      font-size: 42px;
      font-style: italic;
      padding: 0 80px 15px 80px
  }

  .border {
    border-bottom: 40px;
    border-color: #fce138;

  }