*{
    margin: 0;
    padding: 0;
}

body {
    /* more on this crazy style */
    font-family:'Courier New', Courier, monospace;
    background-color: white;
}

header {
    padding-top:10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

section h2 {
    display: inline;
    font-size: 24px;
    color: #39a6b2;
}

footer {
    background: white;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #39a6b2;
    font-size: 24px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}
